* {
	padding: 0;
	margin:0;
	outline: none;
}

/*#content {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: red;
  }*/

p {
    font-family: 'Ubuntu', sans-serif;
	padding-top: 15%;
}

#animation1 {
  	width: 100%;
    height: 100%;
    background-image: url("../images/giphy.gif");
    background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
    color:white;
    font-size: 250px;
    position: absolute;
    padding-top: 3%;
    z-index: 0;
    text-align: center;
    -webkit-animation-name: animationOne; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animationOne;
    animation-duration: 1s;
    animation-delay: 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationOne {
    0%   {background-color: blue; left:0;}
    100% {background-color: blue; left:100%;}
}

  #animation2 {
  	width: 100%;
    height: 100%;
    background-color: #ed1e79;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -1;
    text-align: center;
    -webkit-animation-name: animationTwo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwo;
    animation-duration: 1.5s;
    animation-delay: 11.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwo {
    0%   {background-color: #ed1e79; left:0;}
    100% {background-color: #ed1e79; left:100%;}
}

  #animation3 {
  	width: 100%;
    height: 100%;
    background-color: #d4145a;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -2;
    text-align: center;
    -webkit-animation-name: animationThree; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: animationThree;
    animation-duration: .5s;
    animation-delay: 13s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationThree {
    0%   {background-color: #d4145a; left:0;}
    100% {background-color: #d4145a; left:100%;}
}

  #animation4 {
  	width: 100%;
    height: 100%;
    background-color: #9e005d;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -3;
    text-align: center;
    -webkit-animation-name: animationFour; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: animationFour;
    animation-duration: .5s;
    animation-delay: 13.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationFour {
    0%   {background-color: #9e005d; bottom:0;}
    100% {background-color: #9e005d; bottom:100%;}
}

  #animation5 {
  	width: 100%;
    height: 100%;
    background-color: #93278f;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -4;
    text-align: center;
    -webkit-animation-name: animationFive;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .4s;  /* Safari 4.0 - 8.0 */
    animation-name: animationFive;
    animation-duration: .4s;
    animation-delay: 14s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationFive {
    0%   {background-color: #93278f; bottom:0;}
    100% {background-color: #93278f; bottom:100%;}
}

  #animation6 {
  	width: 100%;
    height: 100%;
    background-color: #662d91;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -5;
    text-align: center;
    -webkit-animation-name: animationSix; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: animationSix;
    animation-duration: .5s;
    animation-delay: 14.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationSix {
    0%   {background-color: #662d91; top:0;}
    100% {background-color: #662d91; top:100%;}
}

  #animation7 {
  	width: 100%;
    height: 100%;
    background-color: #1b1464;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -6;
    text-align: center;
    -webkit-animation-name: animationSeven; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: animationSeven;
    animation-duration: .5s;
    animation-delay: 15.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationSeven {
    0%   {background-color: #1b1464; right:0;}
    100% {background-color: #1b1464; right:100%;}
}

  #animation8 {
  	width: 100%;
    height: 100%;
    background-color: #2e3192;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -7;
    text-align: center;
    -webkit-animation-name: animationEight; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: animationEight;
    animation-duration: 1.5s;
    animation-delay: 15.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationEight {
    0%   {background-color: #2e3192; left:0;}
    100% {background-color: #2e3192; left:100%;}
}

  #animation9 {
  	width: 100%;
    height: 100%;
    background-color: #0071bc;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -8;
    text-align: center;
    -webkit-animation-name: animationNine; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animationNine;
    animation-duration: 1s;
    animation-delay: 17s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationNine {
    0%   {background-color: #0071bc; top:0;}
    100% {background-color: #0071bc; top:100%;}
}

  #animation10 {
  	width: 100%;
    height: 100%;
    background-color: #29abe2;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -9;
    text-align: center;
    -webkit-animation-name: animationTen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.3s; /* Safari 4.0 - 8.0 */
    animation-name: animationTen;
    animation-duration: 1.3s;
    animation-delay: 18.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTen {
    0%   {background-color: #29abe2; top:0;}
    100% {background-color: #29abe2; top:100%;}
}

  #animation11 {
  	width: 100%;
    height: 100%;
    background-color: #00a99d;
    color:white;
    font-size: 250px;
    position: absolute;
    padding-top: 0;
    z-index: -10;
    text-align: center;
    -webkit-animation-name: animationEleven; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.7s; /* Safari 4.0 - 8.0 */
    animation-name: animationEleven;
    animation-duration: 1.7s;
    animation-delay: 21.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationEleven {
    0%   {background-color: #00a99d; top:0;}
    100% {background-color: #00a99d; top:100%;}
}

  #animation12 {
  	width: 100%;
    height: 100%;
    background-color: #22b573;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -11;
    text-align: center;
    -webkit-animation-name: animationTwelve; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwelve;
    animation-duration: 1s;
    animation-delay: 24s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwelve {
    0%   {background-color: #22b573; left:0;}
    100% {background-color: #22b573; left:100%;}
}

  #animation13 {
  	width: 100%;
    height: 100%;
    background-color: #006837;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -12;
    text-align: center;
    -webkit-animation-name: animationThirteen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animationThirteen;
    animation-duration: 1s;
    animation-delay: 25.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationThirteen {
    0%   {background-color: #006837; left:0;}
    100% {background-color: #006837; left:100%;}
}

  #animation14 {
  	width: 100%;
    height: 100%;
    background-color: #009245;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -13;
    text-align: center;
    -webkit-animation-name: animationFourteen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .6s; /* Safari 4.0 - 8.0 */
    animation-name: animationFourteen;
    animation-duration: .6s;
    animation-delay: 26s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationFourteen {
    0%   {background-color: #009245; right:0;}
    100% {background-color: #009245; right:100%;}
}

  #animation15 {
  	width: 100%;
    height: 100%;
    background-color: #39654a;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -14;
    text-align: center;
    -webkit-animation-name: animationFifteen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .6s; /* Safari 4.0 - 8.0 */
    animation-name: animationFifteen;
    animation-duration: .6s;
    animation-delay: 26.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationFifteen {
    0%   {background-color: #39654a; top:0;}
    100% {background-color: #39654a; top:100%;}
}

  #animation16 {
  	width: 100%;
    height: 100%;
    background-color: #8cc63f;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -15;
    text-align: center;
    -webkit-animation-name: animationSixteen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: animationSixteen;
    animation-duration: .5s;
    animation-delay: 27s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationSixteen {
    0%   {background-color: #8cc63f; right:0;}
    100% {background-color: #8cc63f; right:100%;}
}

  #animation17 {
  	width: 100%;
    height: 100%;
    background-color: #d9e021;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -16;
    text-align: center;
    -webkit-animation-name: animationSeventeen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
    animation-name: animationSeventeen;
    animation-duration: .5s;
    animation-delay: 27.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationSeventeen {
    0%   {background-color: #d9e021; left:0;}
    100% {background-color: #d9e021; left:100%;}
}

  #animation18 {
  	width: 100%;
    height: 100%;
    background-color: #fcee21;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -17;
    text-align: center;
    -webkit-animation-name: animationEighteen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.3s; /* Safari 4.0 - 8.0 */
    animation-name: animationEighteen;
    animation-duration: 1.3s;
    animation-delay: 28s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationEighteen {
    0%   {background-color: #fcee21; top:0;}
    100% {background-color: #fcee21; top:100%;}
}

  #animation19 {
  	width: 100%;
    height: 100%;
    background-color: #fbb03b;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -18;
    text-align: center;
    -webkit-animation-name: animationNineteen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
    animation-name: animationNineteen;
    animation-duration: .8s;
    animation-delay: 28.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationNineteen {
    0%   {background-color: #fbb03b; bottom:0;}
    100% {background-color: #fbb03b; bottom:100%;}
}

  #animation20 {
  	width: 100%;
    height: 100%;
    background-color: #f7931e;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -19;
    text-align: center;
    -webkit-animation-name: animationTwenty; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwenty;
    animation-duration: .8s;
    animation-delay: 29.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwenty {
    0%   {background-color: #f7931e; right:0;}
    100% {background-color: #f7931e; right:100%;}
}

  #animation21 {
  	width: 100%;
    height: 100%;
    background-color: #f15a24;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -20;
    text-align: center;
    -webkit-animation-name: animationTwentyOne; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwentyOne;
    animation-duration: .7s;
    animation-delay: 30.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwentyOne {
    0%   {background-color: #f15a24; left:0;}
    100% {background-color: #f15a24; left:100%;}
}

  #animation22 {
  	width: 100%;
    height: 100%;
    background-color: #ed1c24;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -21;
    text-align: center;
    -webkit-animation-name: animationTwentyTwo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .7s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwentyTwo;
    animation-duration: .6s;
    animation-delay: 31s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwentyTwo {
    0%   {background-color: #ed1c24; top:0;}
    100% {background-color: #ed1c24; top:100%;}
}

  #animation23 {
  	width: 100%;
    height: 100%;
    background-color: #c1272d;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -22;
    text-align: center;
    -webkit-animation-name: animationTwentyThree; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .7s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwentyThree;
    animation-duration: .7s;
    animation-delay: 31.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwentyThree {
    0%   {background-color: #c1272d; right:0;}
    100% {background-color: #c1272d; right:100%;}
}

  #animation24 {
  	width: 100%;
    height: 100%;
    background-color: #ff00ff;
    color:white;
    font-size: 250px;
    position: absolute;
    z-index: -23;
    text-align: center;
    -webkit-animation-name: animationTwentyFour; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .1s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwentyFour;
    animation-duration: 1s;
    animation-delay: 32.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwentyFour {
    0%   {background-color: #ff00ff; bottom:0;}
    100% {background-color: #ff00ff; bottom:100%;}
}














