* {
	padding: 0;
	margin:0;
	outline: none;
}

#content2 {
    width: 100%;
    height: 100%;
    background-color: royalblue;
    color: white;
    font-size: 250px;
    position: absolute;
    z-index: -24;
    text-align: center;
    -webkit-animation-name: animationTwentyFour; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .1s; /* Safari 4.0 - 8.0 */
    animation-name: animationTwentyFour;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* Standard syntax */
@keyframes animationTwentyFour {
    0%   {background-color: royalblue; bottom:0;}
    100% {background-color: royalblue; bottom:100%;}
}

div {
    display: block;
    width: 100%;
}

p {
    text-align: center;
    font-size: 184px;
}

#animation25 {
    animation-name: pulse;
    animation-duration: 1.5s;
}

@keyframes pulse {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(20,20);
    }
    100% {
        transform: scale(1,1);
    }
}

#animation26 {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-delay: 1s;
}

@keyframes pulse {
    0% {
        transform: scale3d(.5,.5,.5);
    }
    50% {
        transform: scale3d(5,5,5);
    }
    100% {
        transform: scale3d(.5,.5,.5);
    }
}

#animation27 {
    animation-name: pulse;
    animation-duration: 2.5s;
    animation-delay: 2s;
}

@keyframes pulse {
    0% {
        transform: scale3d(.5,.5,.5);
    }
    50% {
        transform: scale3d(5,5,5);
    }
    100% {
        transform: scale3d(.5,.5,.5);
    }
}









